@charset "UTF-8";
/* CSS Document */

* {
  box-sizing: border-box;
}


/* LINKS */
	/* default color for links */
	a {

		color: white;

	}

	/* when you hover over a link, it turns into a diff. color */
	a:hover {

		color: #fff1c7ff;

	}



/* STRUCTURE */

	/* responsive width for all devices */
	body {
		
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		
	}

	@media only screen and (max-width : 769px ){ /* for tablets */

		body {
			
			max-width: 769px;
			
		}
		

	}


	@media only screen and (max-width: 480px) { /* for mobile phones */

		body {
			
			max-width: 480px;
			
		}
		
		.btn-group {
			
			display: none;
			
		}
		
		#navDiv {
			
			display: none;
			
		}
		
		.btn-group2 {
			
			display: flex;
			
		}
		
		#navDiv2 {
			
			display: flex;
			
		}
		
		.nav{
			
			padding: 5px 0px;
			width: 50px;
			height: 25px;
			font-size: 12.5px;
			
		}

	}
	/* end reponsive */

	/* header */
		#header {

			width: 100%;
			height: 150px;
			background-color: #996938;
			border: 5px solid #fff1c7ff;

		}
	/* end header */

		#content {

			width: 100%;
			padding: 20px;

		}

	/* logo */
		#logo {

			height: 100px;
			width: 100px;
			float: left;
			text-align: center;
			margin: 20px;

		}
	/* end logo */

	/* footer */	
		#footer {

			margin-top: 40px;
			padding: 20px;
			background-color: #996938;
			border: 5px solid #fff1c7ff;
			color: white;
			text-align: left;
			font-weight: bold;
			font-size: small;


		}
	/* end footer */


	/* nav */
		/* Navigation buttons */
		.nav {

			color: white;
			text-align: center;
			padding: 10px 0px;
			width: 100px;
			height: 50px;
			font-size: 25px;
			transition-duration: 0.4s;
			text-decoration: none;
			background-color: #996938;

		}

		/* ID for Navigation div */
		#navDiv {
			
			width: auto;
			padding: 5px 45px 5px 5px;
			color: white;
			margin: 30px 0px;
			gap: 5px;
			text-align: center;
			float: right;
			display: flex;

		}

		#navDiv2 {
			
			width: auto;
			padding: 5px 45px 5px 5px;
			color: white;
			margin: 30px 0px;
			gap: 5px;
			text-align: center;
			float: left;
			display: none;

		}

		/* responsive buttons */
		.btn-group {
			display: flex;
			flex-wrap: wrap;
		}

		.btn-group2 {
			display: none;
			flex-direction: column;
		}

	/* end nav */



